<div class="bg-[#EDF7FF] font-ibm px-12">
  <!--  hero section -->
  <section class="pt-80 pb-40 mx-auto flex justify-center items-center">
    <div class="w-fit">
      <h1 class="text-9xl">WORK</h1>
      <h1 class="text-9xl">MANAGER</h1>
      <br />
      <p class="text-2xl">Collaborative</p>
      <p class="text-2xl">& Productivity Platform</p>
      <br />
      <div class="mt-3 text-center lg:text-left btn group cursor-pointer active:scale-95">
        <div class="btn-animation group-hover:translate-x-1 ease">
          <i class="material-icons">trending_flat</i>
        </div>
        Request a Demo
      </div>
      <p
        class="sec-heading-gradient mt-2 pl-15 cursor-pointer hover:underline"
        (click)="goToNewTab()"
      >
        Sign Up
      </p>
    </div>

    <div class="relative ml-5 w-1/2 h-1/2 flex items-center justify-center">
      <img
        class="absolute right-2 bottom-0 w-150 h-80 rounded-xl shadow-xl"
        src="assets/images/screenshots/task-screen.png"
        alt="task-screen"
      />

      <img
        class="absolute w-150 h-80 rounded-xl shadow-xl"
        src="assets/images/screenshots/project-memebers.png"
        alt="projects-screen"
      />

      <img
        class="absolute left-2 top-0 w-150 h-80 rounded-xl shadow-xl"
        src="assets/images/screenshots/dashboard.png"
        alt="dashboard-screen"
      />
    </div>
  </section>

  <!-- overview -->
  <section class="mx-auto mt-25">
    <!-- content -->
    <div class="mx-auto w-1/2 text-start">
      <h1 class="text-4xl">Optimise your Management experience</h1>
      <p class="pt-5">
        Work Manager’s Optimized management system delivers a frictionless customer experience.
        Increase revenue and save thousands of hours with pre-built management modules, easy access
        to from any devices and every tasks is visible for everyone with the access.
      </p>
      <p class="sec-heading-gradient mt-2 cursor-pointer hover:underline">Try the Demo ></p>
    </div>

    <!--  -->
    <div class="mx-auto flex flex-wrap justify-around items-center gap-6 lg:gap-2 py-20">
      <div
        class="h-90 w-100 hover:scale-105 transition-transform duration-300 rounded-xl shadow-xl bg-white"
      >
        <img
          class="rounded-tl-xl rounded-tr-xl shadow-2xs"
          src="assets/images/screenshots/dashboard.png"
          alt="dashboard"
        />
        <h1 class="px-5 pt-3 text-xl">Flexible UI Components</h1>
        <div class="px-5 pt-2 text-md flex justify-start items-center">
          <i class="fa-solid fa-star sec-heading-gradient text-md"></i>
          <p class="px-2 text-md">Progress Tracking</p>
        </div>
        <div class="px-5 pt-1 text-md flex justify-start items-center">
          <i class="fa-solid fa-star sec-heading-gradient text-md"></i>
          <p class="px-2 text-md">Employee Reports</p>
        </div>
        <div class="px-5 pt-1 text-md flex justify-start items-center">
          <i class="fa-solid fa-star sec-heading-gradient text-md"></i>
          <p class="px-2 text-md">Smart Dashboards</p>
        </div>
        <div class="px-5 pt-1 text-md flex justify-start items-center">
          <i class="fa-solid fa-star sec-heading-gradient text-md"></i>
          <p class="px-2 text-md">Reminder & Notifications</p>
        </div>
      </div>
      <div
        class="h-90 w-100 hover:scale-105 transition-transform duration-300 rounded-xl shadow-xl bg-white"
      >
        <img
          class="rounded-tl-xl rounded-tr-xl"
          src="assets/images/screenshots/dashboard.png"
          alt="dashboard"
        />
        <h1 class="px-5 pt-3 text-xl">One Platform, Total Visibility</h1>
        <p class="px-5 pt-2 text-md">
          With all business data are connected in one workspace, get real-time insights, from
          deadline to progress level, to make accurate decisions.
        </p>
      </div>
      <div
        class="h-90 w-100 hover:scale-105 transition-transform duration-300 rounded-xl shadow-xl bg-white"
      >
        <img
          class="rounded-tl-xl rounded-tr-xl"
          src="assets/images/screenshots/dashboard.png"
          alt="dashboard"
        />
        <h1 class="px-5 pt-3 text-xl">Fast & Efficient</h1>
        <p class="px-5 pt-2 text-md">
          Standardize the workflows, assigning clear ownership for the tasks for efficient and
          faster execution
        </p>
      </div>
      <div
        class="h-90 w-100 hover:scale-105 transition-transform duration-300 rounded-xl shadow-xl bg-white"
      >
        <img
          class="rounded-tl-xl rounded-tr-xl"
          src="assets/images/screenshots/dashboard.png"
          alt="dashboard"
        />
        <h1 class="px-5 pt-3 text-xl">Secure & Reliable</h1>
        <p class="px-5 pt-2 text-md">
          Enterprise-grade security, consistent uptime, and 24/7 customer support — so your business
          runs smoothly without disruption.
        </p>
      </div>
    </div>
  </section>

  <!-- visual images or videos -->
  <section
    class="mx-auto mt-10 bg-[#1c8da3] h-200 w-full flex flex-col justify-center items-center"
  >
    <h1>Visual Images or Videos of our work manager application</h1>
    <app-carousel-component></app-carousel-component>
  </section>

  <!-- pricing -->
  <section class="mx-auto mt-25 w-full flex flex-col justify-center items-center">
    <div class="mb-10 flex flex-col justify-center items-center">
      <h1 class="text-4xl">Choose a plan that’s build for your business</h1>
      <p class="pt-5">
        Or start with the
        <span class="sec-heading-gradient cursor-pointer hover:underline" (click)="contactSales()"
          >trial</span
        >, and upgrade at any time.
      </p>
    </div>

    <!-- options -->
    <div class="flex flex-wrap items-center">
      <div class="rounded-xl flex flex-justify py-2 px-5 bg-white shadow-sm items-center gap-5">
        <div [ngClass]="!isYearlyPricing ? 'tm-button' : ''" (click)="updatePricing()">
          <p>Pay Monthly</p>
        </div>
        <div [ngClass]="isYearlyPricing ? 'tm-button' : ''" (click)="updatePricing()">
          Pay Yearly
        </div>
      </div>
      <div class="sec-heading-gradient text-lg ml-5">Save up to 20% yearly</div>
    </div>

    <div class="flex flex-wrap gap-20 mt-10">
      <app-pricing-component [pricing]="getEconomyPlan()"></app-pricing-component>
      <app-pricing-component [pricing]="getPremiumPlan()"></app-pricing-component>
      <app-pricing-component [pricing]="getPlusPlan()"></app-pricing-component>
    </div>

    <div
      class="mt-20 rounded-xl w-1/3 p-12 shadow-xl bg-white hover:scale-105 transition-transform duration-300"
    >
      <h1 class="text-3xl text-center">Custom pricing</h1>
      <p class="my-10 text-md">
        Create tailored solutions to help you expand into new markets, optimize performance,
        automate reports and team workflows and more.
      </p>
      <div class="tm-button mt-2 hover:bg-[#0a353d] transition-colors duration-300 active:scale-95">
        Contact Sales
      </div>
    </div>
  </section>

  <section class="mx-auto mt-40 lg:w-2/3 flex flex-col justify-center">
    <h1 class="text-5xl mb-4 font-semibold">FAQs</h1>
    <app-faq-component></app-faq-component>
  </section>

  <!-- contact -->
  <section class="mx-auto mt-15 pb-10 w-full flex gap-20 justify-center items-center">
    <div class="mt-20 rounded-xl w-1/3 p-12">
      <h1 class="text-4xl">
        Talk with our team to see how mindhoot-work manager can fit your needs.
      </h1>
      <br /><br />
      <div class="flex flex-col items-start">
        <div class="flex justify-center items-center mb-6">
          <i class="fa-solid fa-star sec-heading-gradient text-md"></i>
          <p class="ml-3 text-lg">Discuss the best solutions to meet your business goals</p>
        </div>
        <div class="flex justify-center items-center mb-6">
          <i class="fa-solid fa-star sec-heading-gradient text-md"></i>
          <p class="ml-3 text-lg">Get Tailored pricing information</p>
        </div>
        <div class="flex justify-center items-center mb-6">
          <i class="fa-solid fa-star sec-heading-gradient text-md"></i>
          <p class="ml-3 text-lg">Enquiry about how our workflow works</p>
        </div>
        <div class="flex justify-center items-center mb-6">
          <i class="fa-solid fa-star sec-heading-gradient text-md"></i>
          <p class="ml-3 text-lg">For Billing and Technical support</p>
        </div>
      </div>
    </div>
    <div class="mt-20 rounded-xl w-1/3 p-12 shadow-xl bg-white">
      <h1 class="w-full text-center text-4xl">Contact our Team</h1>
      <br />
      <app-contact-component></app-contact-component>
      <br />
      <p class="text-center">
        By submitting this form, I accept mindhoot <span class="sec-heading-gradient cursor-pointer hover:underline" (click)="openDialog()">Privacy Policy</span> and consent to be contacted by
        mindhoot.com for marketing and promotional purposes via email, phone, SMS, and other means
      </p>
    </div>
  </section>
</div>

<app-footer-component></app-footer-component>
