<!-- <table class="border rounded-lg overflow-hidden">
  <thead >
    <tr>
      <th class="px-4 py-3 text-center text-sm font-semibold text-gray-700">Economy</th>
    </tr>
  </thead>

  <tbody class="divide-gray-200">
    <div>
      <tr *ngFor="let detail of tableDetails">
        <td>
          <div class="flex justify-center">
            <svg
              class="h-lh w-5.5 shrink-0"
              viewBox="0 0 22 22"
              fill="none"
              stroke-linecap="square"
            >
              <circle cx="11" cy="11" r="11" class="fill-sky-400/25" />
              <circle cx="11" cy="11" r="10.5" class="stroke-sky-400/25" />
              <path d="M8 11.5L10.5 14L14 8" class="stroke-sky-800 dark:stroke-sky-300" />
            </svg>
            <p class="ml-3">Testing data</p>
          </div>
        </td>
      </tr>
    </div>
  </tbody>
</table> -->

<div class="bg-[#e9f8fb] rounded-[26px] flex flex-col justify-center items-center w-fit h-110 p-12">
  @if(pricing()?.amount == "") {
    <div>
      <div class="text-4xl text-[#1c8da3] mb-12 text-center">{{ pricing()?.name }}</div>
    </div>
  } @else {
    <div>
      <div class="text-sm text-[#1c8da3] text-center">{{ pricing()?.name }}</div>
      <div class="text-4xl text-[#1c8da3] mb-12 text-center">&#36;{{ pricing()?.amount }}</div>
    </div>
  }
  <mat-divider></mat-divider>
  @for (detail of pricing()?.details; track detail) {
    <div class="flex justify-center items-start mb-6">
      <svg class="h-lh w-5.5 shrink-0" viewBox="0 0 22 22" fill="none" stroke-linecap="square">
        <circle cx="11" cy="11" r="11" class="fill-sky-400/25" />
        <circle cx="11" cy="11" r="10.5" class="stroke-sky-400/25" />
        <path d="M8 11.5L10.5 14L14 8" class="stroke-sky-800 dark:stroke-sky-300" />
      </svg>
      <p class="ml-3">{{detail}}</p>
    </div>
  }
  <!-- <div class="flex justify-center mb-6" *ngFor="let detail of pricing()?.details">
    <svg class="h-lh w-5.5 shrink-0" viewBox="0 0 22 22" fill="none" stroke-linecap="square">
      <circle cx="11" cy="11" r="11" class="fill-sky-400/25" />
      <circle cx="11" cy="11" r="10.5" class="stroke-sky-400/25" />
      <path d="M8 11.5L10.5 14L14 8" class="stroke-sky-800 dark:stroke-sky-300" />
    </svg>
    <p class="ml-3">Testing data</p>
  </div> -->
</div>
