<div class="font-ibm rounded-xl w-80 h-130 p-12 shadow-xl bg-white hover:scale-105 transition-transform duration-300">
  <div>
    <div class="text-xl text-center">{{ pricing()?.name }}</div>
    <div class="sec-heading-gradient text-4xl mb-12 text-center">&#36;{{ pricing()?.amount }}</div>
  </div>
  <div class="flex flex-col items-start">
    @for (detail of pricing()?.details; track detail) {
      <div class="flex justify-center items-start mb-6">
        <i class="fa-solid fa-star sec-heading-gradient text-md"></i>
        <p class="ml-3">{{ detail }}</p>
      </div>
    }
  </div>

  <div class="tm-button mt-2 hover:bg-[#0a353d] transition-colors duration-300 active:scale-95">Request a Demo</div>

</div>

<!-- <div class="bg-[#e9f8fb] rounded-[26px] flex flex-col justify-center items-center w-fit h-110 p-12">
  @if(pricing()?.amount == "") {
    <div>
      <div class="text-4xl text-[#1c8da3] mb-12 text-center">{{ pricing()?.name }}</div>
    </div>
  } @else {
    <div>
      <div class="text-sm text-[#1c8da3] text-center">{{ pricing()?.name }}</div>
      <div class="text-4xl text-[#1c8da3] mb-12 text-center">&#36;{{ pricing()?.amount }}</div>
    </div>
  }
  <mat-divider></mat-divider>
  @for (detail of pricing()?.details; track detail) {
    <div class="flex justify-center items-start mb-6">
      <i class="fa-solid fa-star sec-heading-gradient text-md"></i>
      <p class="ml-3">{{detail}}</p>
    </div>
  }

</div> -->
