<!-- navigation component -->
<app-nav-bar-component></app-nav-bar-component>

<!-- home -->
<section id="home">
  <header
    class="pt-18 w-full min-h-[70vh] md:min-h-[85vh] lg:min-h-screen flex items-center justify-center"
  >
    <!-- <div class="w-full bg-cover bg-center h-125 "> -->
    <!-- <div class="r"> -->
    <!-- text -->
    <div class="text-start">
      <h1 class="font-popps px-5 text-6xl md:text-8xl lg:text-9xl my-6">MindHoot</h1>
      <h1
        class="font-popps px-5 text-[37px] md:text-[47px] lg:text-[57px] whitespace-normal wrap-break-word leading-normal"
      >
        — where <span class="sec-heading-gradient">ideas</span> grow into
        <span class="sec-heading-gradient">solutions</span>
      </h1>
    </div>
    <!--  image -->
    <div class="hidden md:block lg:block">
      <img src="assets/images/hero_img.png" alt="hero-img" />
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </header>
</section>

<!-- about -->
<section id="about_us" class="pt-16">
  <h2 class="sec-heading"><span class="sec-heading-gradient">ABOUT US</span></h2>
  <div class="container mx-auto px-6 lg:px-2">
    <div class="bg-[#E9F8FB] bg-opacity-30 border-0 rounded-[26px]">
      <p
        class="text-center text-[#4F4F4F] font-popps px-5 py-5 text-[15.5px] md:text-[16px] leading-relaxed sm:leading-loose"
      >
        At MindHoot, we believe great technology starts with great thinking. We are an IT solutions
        company focused on turning ideas into reliable, scalable, and impactful digital products.<br /><br />
        Our team is made up of skilled professionals who value creativity, collaboration, and
        continuous learning. We don’t just build technology — we understand our clients’ goals,
        challenges, and users, ensuring every solution is tailored, efficient, and future-ready.<br /><br />
        At MindHoot, integrity, quality, and customer satisfaction are at the core of everything we
        do. Whether you’re a startup looking to build from the ground up or an established business
        seeking to optimize and scale, we’re here to help you think smarter and move faster.
      </p>
    </div>
  </div>
</section>

<!-- services -->
<section id="process" class="pt-16">
  <h2 class="sec-heading"><span class="sec-heading-gradient">OUR SERVICES</span></h2>
  <div class="container mx-auto px-6 lg:px-2">
    <div class="grid lg:grid-cols-3 lg:gap-3">
      <div class="w-full rounded-[26px] h-auto sm:h-50 bg-[#E9F8FB] bg-opacity-30 border-0 mt-2">
        <div class="flex justify-start">
          <div class="bg-[#ff818152] process-img-circle">
            <img src="./assets/images" alt="software development" class="process-img" />
          </div>
          <h3 class="process-heading">Software Development</h3>
        </div>

        <p class="process-para">
          We design and develop high-quality
          <span class="sec-heading-gradient">web, mobile, and custom software solutions</span>
          tailored to your business needs. From responsive websites and mobile apps to complex
          enterprise systems, our solutions are scalable, secure, and built to deliver seamless user
          experiences.
        </p>
      </div>

      <div class="w-full rounded-[26px] h-auto sm:h-50 bg-[#E9F8FB] bg-opacity-30 border-0 mt-2">
        <div class="flex">
          <div class="bg-[#FFEBA654] process-img-circle">
            <img src="./assets/images" alt="it consultancy" class="process-img" />
          </div>
          <h3 class="process-heading">IT Consultant & Strategy</h3>
        </div>
        <p class="process-para">
          Our service help businesses align technology with their goals. We analyze your current
          systems, identify opportunities for improvement, and create strategic roadmaps that
          enhance efficiency, reduce costs, and support long-term growth.
        </p>
      </div>

      <div class="w-full rounded-[26px] h-auto sm:h-50 bg-[#E9F8FB] bg-opacity-30 border-0 mt-2">
        <div class="flex">
          <div class="bg-[#85FC9854] process-img-circle">
            <img src="./assets/images" alt="devops" class="process-img" />
          </div>
          <h3 class="process-heading">Cloud Solutions & DevOps</h3>
        </div>
        <p class="process-para">
          We help businesses leverage the power of the cloud through secure, scalable, and
          cost-effective solutions. Our
          <span class="sec-heading-gradient">cloud and DevOps services</span> streamline deployment,
          improve system reliability, and enable faster development through automation, monitoring,
          and continuous integration.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- products -->
<section id="products" class="pt-16">
  <h2 class="sec-heading"><span class="sec-heading-gradient">OUR PRODUCTS</span></h2>
  <div class="container mx-auto py-10 px-4">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/2 lg:order-1 order-2">
        <h1 class="product-heading">Task Manager</h1>
        <hr class="product-underline" />
        <p class="product-para">
          <span class="sec-heading-gradient">Task Manager</span> is a smart workflow management
          application designed to help businesses organize tasks, track progress, and collaborate
          efficiently. It streamlines daily operations, improves team coordination, and boosts
          productivity by keeping everyone focused on what matters most.
        </p>
        <div
          routerLink="/task-manager"
          class="mt-3 text-center lg:text-left btn group"
          (click)="onProjectClicked('task-manager')"
        >
          <div class="btn-animation group-hover:translate-x-1 ease">
            <i class="material-icons">trending_flat</i>
          </div>
          Know More
        </div>
      </div>
      <div class="w-full order-1 lg:w-1/2">
        <div class="flex justify-center">
          <div class="img-div lg:mr-0">
            <img src="./assets/images" alt="ihram_hajj" class="img-animation" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--contact-->
<!-- <section id="contact" class="pt-16">
  <h2 class="sec-heading"><span class="sec-heading-gradient">CONTACT US</span></h2>
  <div class="container mx-auto px-6 pt-3 lg:px-2">
    <div class="grid lg:grid-cols-2 py-16 font-Montserrat text-[#4F4F4F]">
      <div class="w-full pt-8 lg:pt-0 lg:px-32 sm:px-0">
        <div class="flex">
          <i class="material-icons text-[#1C8DA3] pl-1">mail</i>
          <a href="mailto:info@texcottonindia.com" class="pl-2 leading-5 lg:text-lg hover:underline"
            >mindhoot@gmail.com</a
          >
        </div>

        <div class="flex lg:pt-10 pt-11">
          <i class="material-icons text-[#1C8DA3] pl-1">phone_iphone</i>
          <a href="tel:+918148138001" class="pl-2 leading-5 lg:text-lg hover:underline"
            >Mobile: +91-8148138001</a
          >
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="contact" class="pt-16">
  <div class="bg-black text-white">
    <div class="flex flex-col justify-center w-full pt-8 lg:pt-0 lg:px-32 sm:px-0">
      <div>  
        <i class="material-icons text-[#1C8DA3] pl-1">mail</i>
        <a href="mailto:info@texcottonindia.com" class="pl-2 leading-5 lg:text-lg hover:underline">mindhoot@gmail.com</a>
      </div>
      <div>
        <i class="material-icons text-[#1C8DA3] pl-1">phone_iphone</i>
        <a href="tel:+918148138001" class="pl-2 leading-5 lg:text-lg hover:underline">Mobile: +91-8148138001</a>
      </div>
    </div>
  </div>
</section> -->

<!-- footer -->
<app-footer-component></app-footer-component>
