<footer id="contact" class="text-center bg-[#fafafa] py-6 text-[#4F4F4F] font-popps mx-auto">
  <div class="flex flex-wrap gap-20 py-20 justify-evenly items-center bg-[#e9f8fb]">
    <!--   footer-left   -->
    <a [routerLink]="['/']" class="text-5xl">MindHoot</a>

    <!--   footer-right  -->
    <div class="flex flex-col lg:flex-row items-center gap-20">
      <div class="flex flex-col justify-center items-center gap-2">
        <div class="flex flex-col justify-between gap-2">
          <a href="tel:+918148138001" target="_blank">
            <div class="flex justify-start items-center">
              <i class="fa-solid fa-phone text-xl"> </i>
              <p class="ml-2">+91-8148138001</p>
            </div>
          </a>

          <a href="mailto:mindhoots@gmail.com" target="_blank">
            <div class="flex justify-start items-center">
              <i class="fa-solid fa-envelope text-xl"></i>
              <p class="ml-2">mindhoots@gmail.com</p>
            </div>
          </a>

          <div class="flex justify-start gap-5 text-xl">
            <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>

      <div class="">
        <h3>Legal & Policies</h3>
        <ul class="">
          <li><a href="#">Terms & Condition</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Cancellation & Refund Policy</a></li>
          <li><a href="#">Shipping Policy</a></li>
        </ul>
      </div>
    </div>
  </div>

  <p class="text-sm md:text-base mt-6">
    &copy; 2025
    <a
      href="https://mindhoot.com/"
      target="_blank"
      class="text-[#1C8DA3] font-semibold hover:underline"
      >MindHoot Labs.</a
    >
    All rights reserved
  </p>
</footer>
